.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #4872b7;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #4d5259;
  font-size: 8rem;
  color: #312f2f;
}

p {
  font-size: 2rem;
  color: #000302;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

button{
  text-align: center;
  border-radius: 250px;
  padding: 20px;
  background-color: #312f2f;
  color: #EEEEEE;
}
